<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Sobre Carlos</title>
    <link rel="stylesheet" href="/static/CSS/styles.css">
    
    <style>
        body {
            background-image: url('static/background_familly.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
        }
        
        .carousel-item img {
            width: 100%;
            size-adjust: 100%;
            object-fit: cover;
        }
    </style>
    
</head>
<body>
  <div class="black_navbar">
        <img src="static/tELCO-logo.png" href="home.html" alt="Logo" class="logo">
        <a href="home.html">Home</a>
        <a href="servicios.html">Servicios</a>
        <a href="cobertura.html">Cobertura</a>
        <a href="about.html">Sobre nosotros</a>
        <div class="search-bar">
            <input type="text" placeholder="Buscar en Telco">
            <button>Busca</button>
            <button>iniciar sesión</button>
        </div>
    </div>

    <div class="container mt-5 text-white">
        <div class="row">
            <div class="col-md-4">
                <img src="static/Perfil_carlos.png" alt="Foto de perfil" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-8">
                <h1>Carlos David Rodríguez González</h1>
                <p><strong>Ubicación:</strong> Turbaco-Bolivar, Colombia</p>
                <p><strong>Experiencia:</strong>La experiencia que recorrido mediante la creacion de este proyecto es un gran paso para mi como ingeniero de sistemas, pude aprender mas sobre el uso de html y creacion basica de Web Apps. </p>
                <p><strong>Especialización:</strong></p>
                <p> 2023-09 Diseñador de FrontEnd</p>
                <p>2023-10 Auxiliar de BackEnd</p>
                <p>2020-05 Diseñador de aspecto Web</p>
                <p>2021-01 Cómputo básico</p> 
                <p><strong>Proyectos Destacados:</strong>Telecommunication Company</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h2>Sobre Mí</h2>
                <p>
                    Soy estudiante de ingeniería de sistemas y computación, busco desempeñarme en el desarrollo de aplicaciones y videojuegos y ademas de seguir adquiriendo conociemiendo respecto a los diferentes lenguajes de programacion, tambien busco especializarme en el uso de bases de datos y ciberseguridad. 
            </div>
        </div>
    </div>
        
<!-- Agrega la CDN de Bootstrap JS (jQuery y Popper.js son requeridos) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/scripts.js"></script>
</body>
</html>