<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title></title>
    <link rel="stylesheet" href="/static/CSS/styles.css">
    
    <style>
        body {
            background-image: url('/static/background_familly.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
        }
        
        .carousel-item img {
            width: 100%;
            size-adjust: 100%;
            object-fit: cover;
        }
    </style>
    
</head>
<body>
  <div class="black_navbar">
        <img src="static/tELCO-logo.png" href="home" alt="Logo" class="logo">
        <a href="home">Home</a>
        <a href="servicios">Servicios</a>
        <a href="cobertura">Cobertura</a>
        <a href="#">Sobre nosotros</a>
        <div class="search-bar">
            <input type="text" placeholder="Buscar en Telco">
            <button>Busca</button>
            <button>iniciar sesión</button>
        </div>
    </div>
        
<!-- Agrega la CDN de Bootstrap JS (jQuery y Popper.js son requeridos) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/scripts.js"></script>
</body>
</html>