.header{
    width: 100% !important;
    height: 80px !important;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.black_navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px !important;
    padding: 20px;
}

.black_navbar .logo {
    height: 60px;         
}

.black_navbar a {
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.black_navbar .search-bar input[type="text"] {
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    position: relative;
    top: -2px;
}

.black_navbar .search-bar a{
    color: black !important;
    font-weight: lighter;
    font-size: medium;
    background-color: #46C5FB;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: -2px;
}

button {
    background-color: #46C5FB;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: -2px;

}

.card {
    width: 30%;
    background-color: black !important;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

.card:hover {
    transform: scale(1.1);
  }

.encuesta {
  background-color: black;
  margin-top: 2.5% !important;
  margin: 30%;
  padding: 100px;
  padding-top: 120px !important;
  padding-bottom: 120px !important;
  color: white;
}

#input_bar {
  width: 100%;
}

#boton-login {
  color: black !important;
  font-weight: lighter;
  font-size: medium;
  background-color: #46C5FB;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  top: -2px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
