<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Sobre Cesar</title>
    <link rel="icon" type="image/telco-icon" href="static/telco-icon.png">
    <link rel="stylesheet" href="/static/CSS/styles.css">
    
    <style>
        body {
            background-image: url('/static/background_familly.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
        }
        
        .carousel-item img {
            width: 100%;
            size-adjust: 100%;
            object-fit: cover;
        }
    </style>
    
</head>
<body>
    <div class="black_navbar">
        <img src="static/tELCO-logo.png" href="home" alt="Logo" class="logo">
        <a href="home">Home</a>
        <a href="servicios">Servicios</a>
        <a href="cobertura">Cobertura</a>
        <a href="about">Sobre nosotros</a>
        <div class="search-bar">
            <input type="text" placeholder="Buscar en Telco">
            <a class="button btn" role="button">Buscar</a>
            <a class="button btn" href="login" role="button">Iniciar sesión</a>
        </div>
    </div>


    <div class="container mt-5 text-white">
        <div class="row">
            <div class="col-md-4">
                <img src="static/Perfil_cesar.jpg" alt="Foto de perfil" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-8">
                <h1>César Fabricio Salas Ricaurte</h1>
                <p><strong>Ubicación:</strong> Cartagena de Indias-Bolivar, Colombia</p>
                <p><strong>Experiencia:</strong>Sinceramente este será el primer proyecto realista con respecto a un entorno de trabajo serio en la experiencia en que uno como futuro ingeniero de sistemas puede enfrentarse y saber desenvolverse, pero con lo que respecta a esta metodologia es bastante enriquecedora.</p>
                <p><strong>Especialización:</strong></p>
                <p>- Auxiliar de BackEnd</p>
                <p>- Auxiliar de FrontEnd</p>
                <p>- Gestión de calidad</p> 
                <p>- Creatividad e innovación</p> 
                <p><strong>Proyectos Destacados:</strong>Telecommunication Company</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h2>Sobre Mí:</h2>
                <p>
                    Soy estudiante de ingeniería de sistemas y computación, de la Universidad Tecnológica de Bolívar, me interesa mucho el área de desarrollo y gestión de base de datos, además de explorar cada uno de las distintas áreas que me puede ofrecer esta carrera, además soy un amante de la música como músico y me encantan los video juegos :). 
            </div>
        </div>
    </div>
        
<!-- Agrega la CDN de Bootstrap JS (jQuery y Popper.js son requeridos) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/scripts.js"></script>
</body>
</html>