<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Sobre nosotros</title>
    <link rel="icon" type="image/telco-icon" href="static/telco-icon.png">
    <link rel="stylesheet" href="/static/CSS/styles.css">
    
    <style>
        body {
            background-image: url('/static/background_familly.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
        }
        
        .carousel-item img {
            width: 100%;
            size-adjust: 100%;
            object-fit: cover;
        }
    </style>
    
</head>
<body>
    <div class="black_navbar">
        <img src="static/tELCO-logo.png" href="home" alt="Logo" class="logo">
        <a href="home">Home</a>
        <a href="servicios">Servicios</a>
        <a href="cobertura">Cobertura</a>
        <a href="about">Sobre nosotros</a>
        <div class="search-bar">
            <input type="text" placeholder="Buscar en Telco">
            <a class="button btn" role="button">Buscar</a>
            <a class="button btn" href="login" role="button">Iniciar sesión</a>
        </div>
    </div>


    <div class="container-fluid text-white">
        <div class="p-2 px-5" style="background-color: black;">
            <div class="container Telecommunication"> 
                <h2 class="display-4 text-center">Telco</h2>
                    <div class="px-4 py-2 mx-5 my-2">
                         <p class="text-center display-4" style="font-size: 30px;"> 
                            Soluciones integrales, innovadoras y de clase mundial, a través de tecnologías de punta.</p>
                    </div>
            </div>
        </div>

        <div class="p-2" style="background-color: black;">
            <div class="container">
                <div class="mision" >
                    <h3>Misión</h3>
                    <p >Facilitar la conectividad global y mejorar la calidad de vida de las personas a través de soluciones de telecomunicaciones confiables y accesibles.</p>
                </div>
                <div class="vision">
                    <h3>Visión</h3>
                    <p>Convertirnos en líderes reconocidos a nivel mundial en el sector de las telecomunicaciones, proporcionando servicios innovadores y de alta calidad que permitan a las personas, empresas y comunidades estar siempre conectados.</p>
                </div>
                
                <div style="margin-top: 50px; margin: 50px; text-align:justify">
                  <h3>Qué hacemos</h3>
                  <p>En nuestra empresa de telecomunicaciones, brindamos una amplia gama de servicios y soluciones de comunicación, incluyendo telefonía móvil, servicios de internet, telefonía fija, televisión por cable y más. Trabajamos constantemente para expandir nuestra red, mejorar la infraestructura y ofrecer tecnologías de vanguardia para mantener a las personas y las empresas conectadas de manera efectiva. Nuestro compromiso es proporcionar conexiones confiables y accesibles, respaldadas por un excelente servicio al cliente y un enfoque en la innovación tecnológica.</p>
                </div>
            </div>
        </div>
        <div class="XD" style="background-color: black;">
            <div class="container pt-2 pb-1">
                <div style="margin-top: 50px; margin: 50px; text-align: justify">
                    <h3>Contacto</h3>
                    <p>Puedes contactarnos en Telco@gmail.com</p>
                </div>
            </div>
        </div>
            <div class="mt-3 container" >
                <h5>Nuestro equipo está conformado por: </h5>
                <div class="row text-center" style="margin-top: 50px; margin: 50px;">
                    <div class="col-md-4 profile-card">
                        <img src="/static/LincJ.jpg" alt="Nombre del integrante"class="imagen-personalizada" style="width: 100px; height: 100px;">
                        <h6>Josue Torres</h6>
                        <p>Desarrollador de BackEnd</p>
                        <button>
                        <a href="/about_Josue" class="text-dark">Más</a>
                        </button>
                    </div>
                    <div class="col-md-4 profile-card">
                        <img src="/static/Perfil_cesar.jpg" alt="Nombre del integrante"class="imagen-personalizada" style="width: 100px; height: 100px;">
                        <h6>Cesar Salas</h6>
                        <p>Desarrollador de FrontEnd</p>
                        <button>
                        <a href="/about_Cesar" class="text-dark">Más</a>
                        </button>
                    </div>
                    <div class="col-md-4 profile-card">
                        <img src="/static/Perfil_carlos.png" alt="Nombre del integrante"class="imagen-personalizada" style="width: 100px; height: 100px;">
                        <h6>Carlos Rodriguez</h6>
                        <p>Diseñador Web Principal</p>
                        <button>
                        <a href="/about_Carlos" class="text-dark">Más</a>
                        </button>
                    </div>
                </div>
            </div>
    </div>
        
<!-- Agrega la CDN de Bootstrap JS (jQuery y Popper.js son requeridos) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/scripts.js"></script>
</body>
</html>
