<!-- home.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Home</title>
    <link rel="icon" type="image/telco-icon" href="static/telco-icon.png">
    <link rel="stylesheet" href="/static/CSS/styles.css">
    
    <style>
        body {
            background-image: url('/static/background_familly.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
        }
        
        .carousel-item img {
            width: 100%;
            size-adjust: 100%;
            object-fit: cover;
        }
        
        html,body {
          height: 100%;
        }

        .cover-container {
          max-width: 42em;
        }

    </style>
    
</head>
<body>
  <div class="black_navbar">
    <img src="static/tELCO-logo.png" href="home" alt="Logo" class="logo">
    <a href="home">Home</a>
    <a href="servicios">Servicios</a>
    <a href="cobertura">Cobertura</a>
    <a href="about">Sobre nosotros</a>
    <div class="search-bar">
        <input type="text" placeholder="Buscar en Telco">
        <a class="button btn" role="button">Buscar</a>
        <a class="button btn" href="login" role="button">Iniciar sesión</a>
    </div>
</div>


    <div class="container-md my-5">
      <main role="main" class="inner cover text-center">
        <h1 class="cover-heading text-white">Sonic Telcommunication</h1>
        <p class="lead text-white">Bienvenido a Telco, una red de telecomunicaciones con cobertura en todo el pais. Averigua mas sobre nuestros servicios.</p>
        <p class="lead">
          <a href="servicios" class="btn btn-lg btn-outline-light">Nuestros servicios</a>
        </p>
      </main>
    </div>
    <div class="container-cards">

      <div class="container">
      <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
          <div class="card-header">
              <h4 class="my-0 font-weight-normal">basico</h4>
          </div>
          <div class="card-body">
              <h1 class="card-title pricing-card-title">$15<small class="text-muted"> mil / mes</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
              <li>50 gigas</li>
              <li>Telefonia Fija</li>
              <li>Sonic Telcommunication</li>
              <li>Adquiere nuestro plan de telefonía e internet</li>
              </ul>
              <a href="/contratar?plan_referencia=Plan%20basico" type="button" class="btn btn-lg btn-block btn-outline-primary">Contrata</a>
          </div>
          </div>
          <div class="card mb-4 shadow-sm">
          <div class="card-header">
              <h4 class="my-0 font-weight-normal">Sonic Speed</h4>
          </div>
          <div class="card-body">
              <h1 class="card-title pricing-card-title">$30<small class="text-muted"> mil / mes</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                  <li>150 gigas</li>
                  <li>Telefonia Fija</li>
                  <li>1 mes de <a style="color: #ff6b01;">Crunchyroll</a> y <a style="color: #e50914;">Netflix</a></li>
                  <li>Adquiere nuestro plan de telefonía y plataforma de streaming</li>
              </ul>
              <a href="/contratar?plan_referencia=Plan%20Sonic%20Speed" type="button" class="btn btn-lg btn-block btn-outline-primary">Contrata</a>
          </div>
          </div>
          <div class="card mb-4 shadow-sm">
          <div class="card-header">
              <h4 class="my-0 font-weight-normal">Sonic Telcommunication</h4>
          </div>
          <div class="card-body">
              <h1 class="card-title pricing-card-title">$60<small class="text-muted"> mil / mes</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                  <li>300 gigas</li>
                  <li>Telefonia Fija</li>
                  <li>Sonic Telcommunication</li>
                  <li>3 mes de <a style="color: #9c3abc;">HBO Max</a> y <a style="color: #e50914;">Netflix</a></li>
                  <li>Adquiere nuestro plan familiar</li>
              </ul>
              <button  href="/contratar?plan_referencia=Plan%20Sonic%20Telcommunication" type="button" class="btn btn-lg btn-block btn-outline-primary">Contrata</button>
          </div>
          </div>
      </div>
  </div>
      
  </div>
        
<!-- Agrega la CDN de Bootstrap JS (jQuery y Popper.js son requeridos) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/static/scripts.js"></script>
</body>
</html>